{% include '@admin/inc/header.html.twig' %}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">TuanICP</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        {% include '@admin/inc/top_nav.html.twig' %}
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            {% include '@admin/inc/left_menu.html.twig' %}
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-text">
                欢迎使用 TuanICP-NEXT
            </blockquote>
            <div class="layui-card layui-panel">
                <div class="layui-card-header">
                    <p>版本变更</p>
                </div>
                <div class="layui-card-body">
                    <p>
                        重构了，但是暂时没有太多功能插件。</p>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="layui-footer">
        <p>“自由”二字看似条条框框，但总有一笔冲出牢笼。</p>
    </div>
</div>

<script>

</script>
</body>
</html>